
*.bin
*.jar
*.xml
*.module
*.pom
*.receipt
*.lock
esp-src/esp-be/build.gradle
esp-src/esp-be/build.gradle
*.properties
esp-src/esp-be/build.gradle
*.class
*.log
*.TAG
*.dll
*.lck
*.ok
esp-src/esp-be/wrapper/dists/gradle-8.4-bin/1w5dpkrfk8irigvoxmyhowfim/gradle-8.4/LICENSE
esp-src/esp-be/wrapper/dists/gradle-8.4-bin/1w5dpkrfk8irigvoxmyhowfim/gradle-8.4/NOTICE
esp-src/esp-be/wrapper/dists/gradle-8.4-bin/1w5dpkrfk8irigvoxmyhowfim/gradle-8.4/init.d/readme.txt
esp-src/esp-be/wrapper/dists/gradle-8.4-bin/1w5dpkrfk8irigvoxmyhowfim/gradle-8.4/README
esp-src/esp-be/build.gradle
