/* YourComponent.css or styles.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.holder {
  display: flex;
  width: 100%;
}

.form-group {
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; /* Adjust as needed for spacing between form groups */
  max-width: 500px; /* Set a maximum width for the form groups */
}

label {
  margin-bottom: 5px; /* Adjust as needed for spacing between label and input */
}

input {
  width: 100%; /* Force the input fields to take full width within their container */
  box-sizing: border-box; /* Include padding and border within the width */
  padding: 5px;
}

.input-error {
  color: red;
}

.sign-in-form {
  width: 100%;
}

.admin-main-page {
  display: grid;
  height: 1000px;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 0.2fr repeat(4, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  background-color: #f0f4fc;
}

.admin-main-page .header {
  grid-area: 1 / 1 / 2 / 7;
}

.admin-main-page .sidebar {
  grid-area: 2 / 1 / 6 / 2;
  background-color: #051326;
  color: #fff;
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

.admin-main-page .main-content {
  grid-area: 2 / 2 / 6 / 7;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px 0 0 0;
}

.admin-main-page .header h1 {
  text-align: center;
  color: #051326;
  text-transform: uppercase;
  font-size: 40px;
  padding: 5px;
  width: fit-content;
  margin: 15px auto;
  font-family: 'Montserrat', sans-serif;
}

/* Navigation links styles */
.admin-main-page .sidebar .nav-links {
  list-style: none;
  padding: 0;
}

.admin-main-page .sidebar .nav-links li {
  margin-bottom: 10px;
}

.admin-main-page .sidebar .nav-links a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.admin-main-page .sidebar .nav-links a:hover {
  background-color: #555;
  border-radius: 3px;
}


.admin-main-page .box {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-inline: 10px;
}

.upload-csv-form {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto;
}

.upload-csv-form input[type="file"] {
  margin-bottom: 10px;
}

.upload-csv-form button {
  background-color: #051326; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
