<div class="holder">
  <ng-container *ngIf="admin != null; else loggedIn">
    <div class="sign-in-form">
      <mat-tab-group>
        <!--     Sign In Tab -->
        <mat-tab label="Sign In">
          <ng-template mat-tab-label>
            Sign In
          </ng-template>
          <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>Admin ID</label>
              <input type="text" formControlName="id" />
              <div *ngIf="signInForm.get('id')?.hasError('required') && signInForm.get('id')?.touched" class="input-error">
                Admin ID is required.
              </div>
            </div>

            <div class="form-group">
              <label>Password</label>
              <input type="password" formControlName="password" />
              <div *ngIf="signInForm.get('password')?.hasError('required') && signInForm.get('password')?.touched" class="input-error">
                Password is required.
              </div>
            </div>

            <button mat-raised-button type="submit" [disabled]="signInForm.invalid">Sign In</button>
          </form>
        </mat-tab>
      </mat-tab-group>
    </div>
  </ng-container>
  <ng-template #loggedIn>
    <div class="admin-main-page">

      <div class="header">
        <h1>Admin Dashboard</h1>
      </div>


      <div class="sidebar">
        <ul class="nav-links">
          <li><a (click)="selectSection(0)">Admin Home Page</a></li>
          <li><a (click)="selectSection(1)">Add An Admin</a></li>
          <li><a (click)="selectSection(2)">Add Instructors</a></li>
          <li><a (click)="selectSection(3)">Add A Course</a></li>
          <!-- Add more navigation links as needed -->
        </ul>
      </div>

      <div class="main-content">

        <ng-container *ngIf="selectedSection == 0">
          This is the admin home page!
        </ng-container>

        <ng-container *ngIf="selectedSection == 1">
          <form [formGroup]="AdminCreationForm" (ngSubmit)="CreateAdmin()">
            <div class="form-group">
              <label>Creator Admin ID</label>
              <input type="text" formControlName="CreatorAdminID" />
              <div *ngIf="AdminCreationForm.get('CreatorAdminID')?.hasError('required') && signInForm.get('CreatorAdminID')?.touched" class="input-error">
                Creator Admin ID is required.
              </div>
            </div>

            <div class="form-group">
              <label>New Admin ID</label>
              <input type="text" formControlName="NewAdminID" />
              <div *ngIf="AdminCreationForm.get('NewAdminID')?.hasError('required') && AdminCreationForm.get('NewAdminID')?.touched" class="input-error">
                New Admin ID is required.
              </div>
            </div>

            <div class="form-group">
              <label>New Admin password</label>
              <input type="password" formControlName="NewAdminPassword" />
              <div *ngIf="AdminCreationForm.get('NewAdminPassword')?.hasError('required') && AdminCreationForm.get('NewAdminPassword')?.touched" class="input-error">
                New Admin password is required.
              </div>
            </div>

            <div class="form-group">
              <label>New Admin Name</label>
              <input type="text" formControlName="NewAdminName" />
              <div *ngIf="AdminCreationForm.get('NewAdminName')?.hasError('required') && AdminCreationForm.get('NewAdminName')?.touched" class="input-error">
                New admin name is required.
              </div>
            </div>

            <button mat-raised-button type="submit" [disabled]="AdminCreationForm.invalid">Add New Admin</button>
          </form>
        </ng-container>

        <ng-container *ngIf="selectedSection == 2">
          Upload your CSV file!
          <form class="upload-csv-form" [formGroup]="AdminUploadInstructorsForm" (ngSubmit)="UploadInstructors()">
            <input type="file" class="csv-file" name="csv-file" accept=".csv" formControlName="uploaded_file" />
            <button type="submit">Submit</button>
          </form>

          <div *ngFor="let unregisteredInstructor of unregisteredInstructors" class="button">
              <div class="container">
                  <div class="from">Instructor ID: {{unregisteredInstructor.instructorId}}</div>
                  <div class="from">Department ID: {{unregisteredInstructor.departmentId}}</div>
              </div> 
          </div>

        </ng-container>

        <ng-container *ngIf="selectedSection == 3">
          This is the courses addition page!

          <div *ngFor="let course of courses" class="buttonCourse">
            <div class="container">
                <div class="courseDetails">Course Code: {{course.courseCode}}</div>
                <div class="courseDetails">Course Name: {{course.courseName}}</div>
                <div class="courseDetails">Credit hours: {{course.creditHrs}}</div>
                <div class="courseDetails">Offering Department ID: {{course.offeringDpt}}</div>
                <div class="courseDetails">Description: {{course.courseDescription}}</div>
                <div class="courseDetails">Prerequisite: {{course.prerequisite}}</div>
            </div> 
          </div>
        </ng-container>

      </div>

    </div>

  </ng-template>

</div>
